tensorboard==1.14.0
tensorflow-gpu==1.14.0
numpy==1.15.3
scipy==1.1.0
scikit-image==0.14.0
colour-demosaicing
rawkit
exifread
tqdm
imageio
matplotlib
matplotlib2tikz
sewar
dahuffman
python-Levenshtein
uncertainties